{{ define "main" }}


<div class="container clearfix">

    <div class="lead center mx-auto" id="gcf-prj-intro" style="max-width: 800px;">
        {{ $markdown := .Params.lead | markdownify }}
        {{ if not ( strings.Contains $markdown "<p>" ) }}
            <p>{{ $markdown }}</p>
        {{ else }}
            {{ $markdown }}
        {{ end }}
    </div>
    <!-- Project Items
    ============================================= -->
    <div id="portfolio" class="portfolio row grid-container gutter-50" data-layout="fitRows">

        {{ range .Pages  }}
        <article class="portfolio-item col-sm-4 col-12 pf-media pf-icons">
            <div class="grid-inner">
                <div class="portfolio-image">
                <a href="{{ .Permalink }}">
                    <img src="./images/{{ .Params.project_image_thumb }}" alt="{{ .Params.project_image_alt }}">
                </a>
                <!-- Overlay: Start -->
                <div class="bg-overlay">
                    <div class="bg-overlay-content dark" data-hover-animate="fadeIn">
                    <a href="./images/{{ .Params.project_image_thumb }}" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Image"><i class="icon-line-plus"></i></a>
                    <a href="{{ .Permalink }}" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350"><i class="icon-line-ellipsis"></i></a>
                    </div>
                    <div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
                </div>
                <!-- Overlay: End -->
                </div>
                <div class="portfolio-desc">
                    <span>{{ .Params.title }}</span>
                    <h3><a href="{{ .Permalink }}">{{ .Params.project_name }}</a></h3>
                </div>
            </div>
        </article>
        {{ end }}
       

    </div><!-- #projects end -->

</div>

    

{{ end }}
