{{ define "main" }}

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto gcf-content">
            <h4 class="gcf-project-name">Official <strong>Project Name</strong></h4>
            <h2>{{ .Params.project_name }}</h2>
            <div class="gcf-project-image">
                <img src="./images/{{ .Params.project_image_thumb }}" alt="{{ .Params.project_image_alt }}">
            </div>
            {{ .Content }}
        </div>
        
    </div>
</div>

{{ end }}