<!-- Page Title  -->
		<section id="page-title" class="">

			<div class="container clearfix">
				<h1 data-animate="fadeInUp" class="">{{ .Title }}</h1>
				<!-- <span data-animate="fadeInUp" data-delay="300">{{ .Params.project_name }}</span>  -->
				<ol class="breadcrumb">
          {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
					{{ define "breadcrumbnav" }}
            {{ if .p1.Parent }}
              {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
            {{ else if not .p1.IsHome }}
              {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
            {{ end }}
          <li{{ if eq .p1 .p2 }} class="breadcrumb-item active"{{ else }} class="breadcrumb-item"{{ end }}><a href="{{ .p1.Permalink }}">{{ .p1.Title }}</a></li>
          {{ end }}
				</ol>
			</div>

		</section><!-- #page-title end -->