<div id="home" class="page-section" style="position:absolute;top:0;left:0;width:100%;height:200px;z-index:-2;"></div>

<!-- Slider
		============================================= -->
		<section id="slider" class="slider-element slider-parallax min-vh-60 min-vh-md-100 with-header swiper_wrapper">
			<div class="slider-inner">

				<div class="swiper-container swiper-parent">
					<div class="swiper-wrapper">
						<div class="swiper-slide dark">
							<div class="container">
								<div class="slider-caption" style="max-width: 600px">
									<div>
										<h2 class="nott font-weight-extralight" data-animate="fadeInUp"><span class="gcf-highlight"><strong>ADB</strong> and the <br>Green Climate Fund</span></h2>
										<p class="d-none d-sm-block gcf-subhead" style="" data-animate="fadeInUp" data-delay="200">Working together to enhance resilience <span>and strengthen climate action</span></p>
									</div>
								</div>
							</div>
							<div class="swiper-slide-bg" style="background-image: url('./images/hero.jpg')"></div>
						</div>
					</div>
					<div class="swiper-navs">
						<div class="slider-arrow-left"><i class="icon-line-arrow-left"></i></div>
						<div class="slider-arrow-right"><i class="icon-line-arrow-right"></i></div>
					</div>
				</div>
				<a href="#" data-scrollto="#content" data-offset="100" class="one-page-arrow dark"><i class="icon-line-arrow-down infinite animated fadeInDown"></i></a>
			</div>
		</section>
