<div id="section-about" class="center page-section">

  <div class="container clearfix my-5">

    <h2 class="mx-auto bottommargin font-weight-extralight" style="max-width: 700px; font-size: 40px;">Step-change on Climate Results</h2>

    <p class="lead mx-auto bottommargin" style="max-width: 900px;">Our ADB projects, co-financed by the Green Climate Fund (GCF) will introduce climate-smart innovations with transformational impact that will outlast the projects themselves, are scalable and replicable, and align with the climate-change priorities of the beneficiary countries.</p>

    <p class="lead mx-auto bottommargin" style="max-width: 900px;">They are designed to help ADB’s developing member countries move rapidly away from the traditional energy pathway dominated by fossil fuels, onto a more progressive and sustainable future that is low-carbon and climate-resilient. In the process, clean energy will be made more accessible to marginalized populations, with resulting improvements in climate change risk mitigation, health and well-being, food and water security, infrastructure durability and sustainability, and ecosystem conservation. These projects will support the following paradigm shifts: </p>
    <div class="clear"></div>
  </div>

</div>

<div id="section-" class="page-section">

  <div class="container clearfix my-5">
    <div class="row">
      <div class="col-md-6">
        <p><strong>A smoother transition to low-carbon energy.</strong> The projects will help the beneficiary countries overcome the investment and technical barriers to integrating a higher share of renewable energy into their electric power systems, lower the cost of clean energy, and improve energy security through environmentally sustainable means. In the agriculture sector, new financial and risk-sharing mechanisms, such as green financing and crop insurance, plus integrated land-use planning and management, awareness raising, and capacity development, will create an enabling platform for investment and help shareholders adapt to change. </p>

        <p><strong>A more engaged private sector.</strong>  The projects are meant to induce more active participation and increased investment by the private sector in support of the structural shift toward renewable energy. </p>

        <p><strong>Better, wider access to cleaner energy, at less cost.</strong>  Corporatized power utilities are not inclined to increase energy access for customers in remote areas of countries that rely on high-cost, diesel-based generation centers. Low-cost power generation using renewable energy will allow power utilities to expand grids and improve access at reduced power generation costs. </p>
      </div>
      <div class="col-md-6">
        <p><strong>Up-to-date technologies.</strong>  The introduction of mechanization, climate-smart agriculture, and precision farming, among other modern technologies, will reshape the delivery of climate and market information services, and help reduce the carbon footprint along the value chain. </p>

        <p><strong>Knowledge sharing.</strong>   The documentation of project results, including the ways in which difficulties were surmounted and policies were changed and successfully implemented, will sustain the knowledge sharing, way beyond the life of projects and make replication more likely. </p>

        <p><strong>Climate-change considerations embedded in project design, implementation, monitoring, and evaluation.</strong>  ADB is comitted to helping our clients deliver on the goals to make operations consistent with national low-emissions development pathways and compatible with the objectives of the Paris Agreement. ADB and the other MDBs will develop of a common framework which defines clear principles each institution will incorporate in ways reflective of its unique client base and operations.</p>
      </div>
    </div>


  </div>

</div>
