<div id="section-about" class="center page-section">
  <div class="container clearfix my-5 py-md-5">

    <img src="./images/adb-gcf.png" alt="">
    <h2 class="mx-auto bottommargin font-weight-extralight" style="max-width: 700px; font-size: 40px;">Step-change on Climate Results</h2>
    
    <p class="lead mx-auto bottommargin" style="max-width: 800px;">Our ADB projects, co-financed by the <a href="https://www.greenclimate.fund/"> Green Climate Fund (GCF)</a> introduce climate-smart innovations with transformational impact beyond the projects themselves, are scalable and replicable, and align with the climate-change priorities of the beneficiary countries.</p>

    <p class="lead mx-auto bottommargin" style="max-width: 800px;">They are designed to help ADB’s developing member countries move rapidly away from a business-as-usual approach to development, onto a more progressive and
      sustainable future that is low-carbon and climate-resilient. Promoting longer-term sustainability and equity by addressing climate risks will result in improvements in climate change risk mitigation, health and well-being, food and water security, infrastructure durability, and ecosystem conservation. These projects support the following paradigm shifts:</p>
    <div class="clear"></div>
  </div>

</div>

<div id="section-paradigm" class="page-section" style="background-image: url(./images/bg-paradigm.jpg); background-color: #98cc52; background-size: cover;">
  <div class="container clearfix my-5 py-6">
    <div class="row">
      <div class="col-md-6 pr-md-5">
        <p><strong>Climate change considerations at the core of project design, implementation, monitoring, and evaluation.</strong> By making our operations consistent with national low-emissions, climate resilient development pathways, ADB helps its clients deliver on the objectives of the Paris Agreement. </p>

        <p><strong>A smoother, faster transition to low-carbon energy.</strong>  The projects will help beneficiary countries overcome the investment and technical barriers to integrating a higher share of renewable energy into their electric power systems, lower the cost of clean energy, and improve energy security through environmentally sustainable means.</p>

        <p><strong>New financial and risk-sharing mechanisms.</strong>  In the agriculture sector, green financing and crop insurance, plus integrated land-use planning and management, awareness raising, and capacity development, will create enabling platforms for investment and help stakeholders adapt to change.</p>

        <p><strong>A more engaged private sector.</strong>  The projects will induce more active participation and increased investment by the private sector in support of the structural shifts toward low-carbon and climate resilient development.</p>
      </div>
      <div class="col-md-6 pl-md-5">
        <p><strong>Better, wider access to cleaner energy, at less cost.</strong> Corporatized power utilities are not inclined to increase energy access for customers in remote areas of countries that rely on high-cost, diesel-based generation centers. Low-cost power generation using renewable energy will allow power utilities to expand grids and improve access at reduced power generation costs.</p>

        <p><strong>Up-to-date technologies.</strong>  The introduction of mechanization, climate-friendly agriculture, and precision farming, among other modern technologies, will reshape the delivery of climate and market information services, and help reduce the carbon footprint along the value chain while increasing resilience.</p>

        <p><strong>Knowledge sharing.</strong>  The documentation of project results, including the ways in which difficulties were surmounted and policies were changed and successfully implemented, will sustain the knowledge sharing, way beyond the life of projects and make replication more likely.</p>
      </div>
    </div>


  </div>

</div>
